# Ignore Visual Studio Code related files and directories
.vscode/**
.vscode-test/**

# Ignore source code files and directories
src/**
**/*.ts

# Ignore configuration files
.gitignore
.yarnrc
**/tsconfig.json
.eslint*

# Ignore source map files
**/*.map

# Ignore dependencies
node_modules/**

# Do not ignore the following files
!out/tiktoken_bg.wasm